@import "tailwindcss";

@theme {
  --color-primary: #101728;
  --color-accent: #009ca6;
  --color-accent-light: #00b8c4;
  --color-gray-box: #8492a6;
  --color-gray-title: #94a3b8;
  --color-brand-orange: #ff8c00;
  
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply bg-primary text-white font-sans antialiased;
  }
}